name: Frontend Deployment

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            VITE_API_URL: ${{ secrets.VITE_API_URL }}
        steps:
            - name: Get code
              uses: actions/checkout@v3
              with:
                  ref: ${{ github.ref_name }}

            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "22"

            - name: Create .env file
              run: |
                  echo "VITE_API_URL=${VITE_API_URL}" >> .env

            - name: Install dependencies
              run: npm ci

            - name: Build application
              id: build-website
              run: CI=false npm run build

            - name: Upload build artifacts
              uses: actions/upload-artifact@v4
              with:
                  name: build-files
                  path: |
                      dist
                      .github/scripts/deploy.sh

    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v4
              with:
                  name: build-files

            - name: Set up SSH key
              run: |
                  mkdir -p ~/.ssh
                  echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
                  chmod 600 ~/.ssh/id_rsa
                  ssh-keyscan -H 54.172.69.143 >> ~/.ssh/known_hosts

            - name: Run deployment script
              run: |
                  chmod +x .github/scripts/deploy.sh
                  .github/scripts/deploy.sh

    report:
        needs: [build, deploy]
        if: failure()
        runs-on: ubuntu-latest
        steps:
            - name: Output failure report
              run: |
                  echo "The workflow has failed. Please check the logs for details. ${{ github.workflow }} failed on commit ${{ github.sha }} by user ${{ github.actor }}."
